.hero-title{
    visibility: hidden;
}

.section-hero{
    width: 100%;
    height: 100vh;
    background-image: url('./../../img/hero_1x.jpg');
    background-position: center;
    background-repeat: no-repeat;


}