<header class="header">
    <div class="container">
        <div class="header-block">
            <svg class="header__logo" width="32" height="40">
                <use href="./../../img/svg.svg#icon-icon-logo"></use>
            </svg>
            <ul class="header-list">
                <li class="header-list__item"><a href="" class="header-list__item__link">Главная</a></li>
                <li class="header-list__item"><a href="" class="header-list__item__link">Наши специалисты</a></li>
                <li class="header-list__item"><a href="" class="header-list__item__link">Процедуры лечения волос</a></li>
                <li class="header-list__item"><a href="" class="header-list__item__link">Средства для лечения волос</a></li>
            </ul>
            <div class="header-contacts">
                <a href="" class="header-contacts__link">ул. Карла Маркса</a>
                <button class="header-contacts__button">Запись на прием</button>
            </div>
        </div>
    </div>
</header>
    
